/*
  This file contains custom styling for koplowiczandsons.com.  Feel free to disable it in kands.info.
*/
/* line 5, ../sass/koplowiczandsons.scss */
.slide {
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  float: left;
  width: 205px;
  height: 100px;
}

/* line 17, ../sass/koplowiczandsons.scss */
.slide-image {
  float: left;
  margin-right: 7px;
}

/*
 * Additional webfont nonsense
 */
/* line 35, ../sass/koplowiczandsons.scss */
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/* line 40, ../sass/koplowiczandsons.scss */
i,
em {
  font-style: normal;
}
