/*
  This file contains custom styling for koplowiczandsons.com.  Feel free to disable it in kands.info.
*/
  
.slide {
  margin: 10px; 
  padding: 10px; 
  border: 2px solid grey; 
  border-radius: 10px; 
  background: rgb(255,255,255); 
  background: rgba(255,255,255,.5); 
  float: left; 
  width: 205px;
  height: 100px;
}

.slide-image {
  float: left;
  margin-right: 7px;
}

.slide-label {
  // width: 135px;
  // float: right;
  // float: left;
}

/*
 * Additional webfont nonsense
 */

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}
