/*
  Custom mobile layout for tablets and mobile phones.
  Also includes all the code for the off-canvas mobile menu.
*/

@import "base";

#page {
  padding-left: 16.5%;
  padding-right: 16.5%;
  background-size: 82%;
  top: 100px;
  position: relative;
  initial-scale: 1;
}

#main {
  padding-top: 0;
  margin-bottom: 0;
  width: 96.3%;
  left: -18.6%;
  padding-left: 16%;
  padding-right: 0;
}

#splash {
  position: relative;
  left: -10%;
}

#site-info {
  float: none;
  text-align: center;
  position: relative;
  left: -9%;
  margin: 0 auto;
  width: 100%
}

#name-and-slogan {
  float: none;
}

#content {
  width: 96%;
  position: relative;
  left: -10%;
}

#footer {
  background: none !important;
  clear: both;
  margin: 0;
  top: 0;
}

#footer_title {
  top: 3px;
  left: 2px;
  background-size: 144.8%;
}

#footer_wrapper {
  // border: 2px solid black;
}

.footer_contents {
  border: 3px double black;
  margin: 1px;
  width: 94% !important;
  padding-right: 10px;
}

#footer_bottom {
  background: none !important;
}

/*
  For the off-canvas mobile menu
*/

[role="main"],
[role="menu"] {
  transition: .2s all ease;
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -o-transition: .2s all ease;
  -ms-transition: .2s all ease;
  width: 90%;
  padding: 5%;
}

.js [role="main"] {
  margin-left: 0;
  float: left;
}

.js [role="menu"] {
  margin-left: -100% !important;
  float: left !important;
  position: absolute !important;
}

.active-nav [role="main"] {
  margin-left: 80% !important;
}

.active-nav [role="menu"] {
  width: 80% !important;
  min-height: 400px;
  border: black double;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
}

.menu-button {
  display: inline;
  position: absolute;
  z-index: 1;
  left: -5%;
}
